    h1 {
      font-weight: bold;
      color: black;
      transition: color 0.3s; /* Add a smooth transition effect when the color changes */
    }
  
    /* Apply the new color when the cursor hovers over the h1 element */
    h1:hover {
      color: teal; /* Set the desired color (purple in this case) for the title on hover */
    }

body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}


.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(128, 58, 58, 50);
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}

/* Pivot table formatting */
.select-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.select-container label {
  margin-right: 40px;
}

.pivot-table-container {
  display: flex;
  align-items: flex-end; /* Align vertically at the bottom */
  justify-content: flex-start; /* Align horizontally at the left */
  margin-top: 10px; /* Add a little spacing to separate from the charts */
}

#pivot-table-dropdown {
  margin-right: 20px; /* Add spacing between dropdown and pivot table */
}

.pivot-table {
  border-collapse: collapse;
  width: 70%; /* Adjust the width as needed */
}

.pivot-table th,
.pivot-table td {
  border: 2px solid teal;
  padding: 10px;
  text-align: center;
}

.pivot-table-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust spacing as needed */
}

.pivot-table-header label {
  margin-right: 10px; /* Add spacing between label and dropdown */
}

/* Modifying code to ensure pivot table and pie chart are aligned */
.charts-container {
  display: flex; /* Use flexbox to align the elements horizontally */
  align-items: flex-start; /* Align elements at the top */
  justify-content: space-between; /* Create space between the elements */
  width: 100%; /* Ensure the container occupies the full width */
}

#chart {
  flex: 1;
  width: 55%; /* Adjust the width of the pie chart */
  padding-left: 50px; /* Add padding to the left side of the chart */
}

.pivot-table-container {
  width: 48%; /* Adjust the width of the pivot table container */
}


.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* Total Table */
table {
  border-collapse: collapse;
  width: 100%;
  border: 5px solid #ddd; /* Add a border */
  margin-top: 10px; /* Add some margin for separation */
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: teal;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}




/* .map-container {
  width: 50%;
  height: 400px;
  float: left;
  margin: 20px;
  border: 1px solid #ccc;
}

.visualization-container {
  width: 50%;
  float: left;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
} */